html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1em;
  font-family: $sans-serif;
  color: $body-text;
  margin: 0;
  padding: 0;
  background: #f4f7f9;
}

a {
  text-decoration: none;
  color: $headline;
  font-weight: 700;


}

h1 { font-size: 3.5em; color: #fff; }
h2 { font-size: 3em; color: $headline; font-weight: 400; }
h3 { font-size: 2.5em; text-transform: uppercase; color: $headline; }
h4 { font-size: 2em; text-transform: uppercase; color: $headline; }
h5 { font-size: 1.25em; text-transform: uppercase; color: $strong-text }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  text-transform: uppercase;
}



header {
  margin: 0;
  height: 5em;
  width: 100%;

  a#logo {
    margin: 1em 0 0;
    color: $headline;
    background: image_url("logo.png") 0 0 no-repeat;
    width: 66px;
    height: 71px;
    display: block;
    text-indent: -9999px;
    float: left;
    margin: .1em 0 0 .5em;
  }
  .connect {
    width: 75%;
    float: right;
    text-align: right;
    margin-top: 1.5em;

    .yt-sub-wrap {
      margin-top: .5em;
      display: inline-block;

      .yt-sub {

      }
    }
    a.follow {
      display: inline-block;
      float: right;
      height: 40px;
      width: 17%;
      max-width: 150px;
      line-height: 38px;
      font-size: 18px;
      background: $twitter-blue;
      @include border-radius(3px);
      color: #fff;
      text-align: center;
      margin: 0 .75em 0 3.5%;
      overflow: hidden;

      i {
        font-size: 32px;
        vertical-align: middle;
      }
    }
  }
}

div[role="main"] {

  h1 {
    color: #fff;
    text-transform: none;
    text-align: center;
    margin-bottom: .2em;
    padding: 0 5%;
    color: $strong-text;
    font-size: 2.25em;
  }
  p.sub-headline {
    font-size: 1.5em;
    text-align: center;
    color: $headline;
    margin-top: 0;
    padding: 0 5%;

  }

  .current-episode {
    // background: #fff;
    // padding-top: 2em;
    padding-bottom: 3em;

    .current-episode-inner {
      margin: 0;
      overflow: hidden;

      > div.video {
        margin: 0 auto;

        .fve-video-wrapper {
          position: relative;
          overflow: hidden;
          height: 0;
          padding-bottom: 56.25%;
          margin: 1.5em 0; /* A bit of margin at the bottom */

          iframe,
          object,
          embed {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .video-meta {
        text-align: center;

        p.date {
          color: $strong-text;
          font-family: $serif;
          font-weight: 700;
          margin: 1em 0 0;
        }
        h2 {
          margin: 0 0 .5em;


          a {
            color: $headline;
          }
        }
        .episode-summary {

          p {

            span {
              line-height: 1.75em;
              font-family: $serif;
              margin: 0 0 2em;

            }
          }
        }
        i {
          font-size: 30px;
          vertical-align: middle;
          margin-right: .25em;
          color: $headline;
        }
        a {
          font-size: 1.125em;
          color: $link;
          text-transform: uppercase;
        }

      }
    }



  }
  #show-notes-container {
    position: relative;
    overflow: hidden;
    @include transition(height,0.25s, ease-in-out);
  }
  .show-notes {
    background: #fff;
    padding: 2em 1em;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;

    &.show {
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
      -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
      -o-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
      transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
    }

    h3, h4 {
      text-transform: capitalize;
      font-weight: 600;
      border-bottom: 3px solid $headline;
    }
    a {
      font-size: 1.125em;
      font-weight: 700;
      color: $headline;
      font-family: $serif;
    }
    p {
      font-family: $serif;
      margin: .5em 0 1.5em;
      line-height: 1.733333333em;

      a {
        font-size: 1em;
      }
    }
    h3 {

    }
  }

  .show-meta {
    text-align: center;
    margin: 2em auto 5em;

    h4 {
      color: $strong-text;
    }
    p {
      font-family: $serif;
      font-size: 1.25em;
      line-height: 1.625em;
    }
  }

  .past-episodes {

    article {
      padding: 1em 1.5em .75em;
      background: #eaeef1;
      overflow: hidden;
      margin-bottom: 1.25em;

      h3 {
        margin: 0;

      }
      p {
        font-family: $serif;
        font-size: 1em;
        line-height: 1.625em;
        margin-top: .5em;

        > a {
          font-size: .875em;
          text-transform: uppercase;
          font-family: $sans-serif;
          color: $body-text;
        }
      }

      i {
        color: $headline;
        margin-right: .25em;
      }
    }
  }
}

footer {
  background: #333;
  text-align: center;
  margin-top: 3em;

  p {

  }
  ul {


    li {
      list-style: none;

      a {

      }
    }
  }
}