---
title: Welcome to Middleman
---
      <section class="current-episode">
        <div class="current-episode-inner container">
          <video></video>
          <div class="video-meta">
            <p class="date">October 15, 2013</p>
            <h1><a href="#">Episode 1</a></h1>
            <p class="episode-summary">uspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.</p>
            <a href="#"><i class="#">Show Notes</i></a>
          </div>
        </div>

      </section>

      <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>